@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400&display=swap');
</style>



* {
    margin: 0 ;
    line-height: 1;
}

body {
    background-color: rgb(58, 58, 58);
}

* {
    font-family: 'Vazirmatn', sans-serif;
    color: #a9a9a9;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.main--section {
    border-radius: 10px !important;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}


.top {

    width: 300px;
    height: 300px;
}
#photo {
    border-radius: 5px 5px 0px 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

.middle {
    background-color: linear-gradient(180deg,#1A1B21 , #ffffff) !important;
    width: 300px;
    /* background-color: #1A1B21; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons {
    padding: 5px 10px;
    display: flex;
}
#whatsapp {
    color: white;
    border: 0.2px solid white;
    background-color: #25D366;
}
a{
  font-family: 'Poppins' !important;
}
a.buttonhref {
    display: flex;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    background-color: white;
    color: black;
    font-size: 14px;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: none;
    margin: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.services {
    padding: 10px 25px;
    text-align: right;
}
.skills {
    padding: 10px 25px;
    text-align: right;
    margin-bottom: 10px;
}

.social {
    border-radius: 0px 0px 5px 5px;
    padding: 10px !important;
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    width: 300px;
    background-color: #161619 !important;
}

.social> div {
    text-align: center;
    width: 33%;
    border-radius: 5px;
    padding: 5px;
}

.text--title {
    font-weight: 900;
    color:  white;
    padding: 5px 0px 5px 0px;
}

.subtitle {
    color: #F3BF99;
}

#linkedin {
    fill: grey;
}

.card {
    width: 300px;
    background: #191c29;
    position: relative;
    border-radius: 6px;
    align-items: center;
    text-align: center;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
    font-family: cursive;
  }

  .card:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
  }
  .card:hover:before, .card:hover:after {
    animation: none;
    opacity: 0;
  }

  .card::before {
    content: "";
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      position: absolute;
      z-index: -1;
      animation: spin 2.5s linear infinite;
  }
  
  .card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  
  a {
    color: #212534;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;

  }

  @property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  :root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
  }

  
  
  .card:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
  }
  .card:hover:before, .card:hover:after {
    animation: none;
    opacity: 0;
  }