* {
    margin: 0;
}

body {
    padding: 150px;
    background-color: #23252C;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

div.buttom {
    background-color: #1A1B21;
    }
    
